llama-index
networkx
pandas
matplotlib
neo4j 
langchain-neo4j
sentencex
google-genai
threadpoolctl
langchain>=0.2.0
langchain-community>=0.0.20 
langchain-core
langchain-experimental
langchain-groq
langchain-openai
langchain-text-splitters
langcodes
langsmith
fastembed
vertexai
node2vec